<app-search-bar [placeHolder]="'Nome do personagem'" [localStorageKey]="localStorageKey"
  (keyWord)="getCharacters($event)"></app-search-bar>

<mat-grid-list cols="4" *ngIf="hasContent() && !noResult" rowHeight="250px" gutterSize="15px">
  <mat-grid-tile *ngFor="let character of characterList" title="Clique para ver os detalhes"
    [style.background]="tileBackground">
    <app-character-card [image]="getImage(character)" (click)="redirectToDetailPage(character)"></app-character-card>
    <mat-grid-tile-header>
      <h4>{{ character.name }}</h4>
    </mat-grid-tile-header>
  </mat-grid-tile>
</mat-grid-list>

<app-not-found-page *ngIf="noResult"></app-not-found-page>
<app-landing-page *ngIf="!hasContent()"> </app-landing-page>
<br /><br /><br />
