<form class="search-form">
  <mat-form-field class="search-bar" appearance="fill">
    <mat-label>Digite o nome do herói</mat-label>
    <input type="text" matInput />
  </mat-form-field>
  <button
    class="search-button"
    mat-raised-button
    color="primary"
    matBadgePosition="before"
  >
    <mat-icon>search</mat-icon> Buscar
  </button>
  <button
    class="last-search-button"
    mat-raised-button
    color="primary"
    matBadgePosition="before"
  >
    <mat-icon>schedule</mat-icon> Última busca
  </button>
</form>
