<div class="search-form">
  <mat-form-field class="search-bar" appearance="fill">
    <mat-label>{{placeHolder}}</mat-label>
    <input type="text" matInput />
  </mat-form-field>
  <button title="Buscar"
    class="search-button"
    mat-raised-button
    color="primary"
    matBadgePosition="before"
  >
    <mat-icon class="icon">search</mat-icon>
  </button>

  <button title="Recuperar última busca"
    *ngIf="lastSearch"
    class="last-search-button"
    mat-raised-button
    color="primary"
    matBadgePosition="before"
  >
    <mat-icon class="icon">schedule</mat-icon>
  </button>
</div>
