.search-form {
  .search-button, .last-search-button{
    height: 54px!important;
    margin-bottom: 13px !important;
    margin-left: 10px!important;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;

    .icon {
      margin-left: 10px;
    }
  }
  .search-button:hover, .last-search-button:hover {
    transform: scale(1.03);
    transition: all 0.5s;
  }
}
