.search-form {
  .search-button{
    height: 56px!important;
    margin-bottom: 13px !important;
    margin-left: -2px!important;
    border-radius: 0px;
    cursor: pointer;

    .icon {
      margin-left: 10px;
    }
  }
}
