.image-container {
  display: flex;
  justify-content: left;

  .image {
    width: 20%;
  }

  @media screen and (max-width: 992px) {
    .image {
      width: 40%;
    }
  }

  @media screen and (max-width: 600px) {
    .image {
      width: 40%;
    }
  }
}
